.title{
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;

}
.title>h1{
    color: yellow;

}
.title>p{
    color: antiquewhite;
    font-size: 15px;
}
.common{
    background-color: grey;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    border: 3px solid black;
}
.cssOutLine{
    outline: 3px solid brown;
}
.cssOverflow>p{
    text-align: justify;
    width: 300px;
    height: 300px;
    padding: 20px;
    line-height: 2;
    border: 2px solid black;
    overflow: auto;
    
}
.cssOverflow>p:last-child{
    white-space: nowrap;
    text-overflow: ellipsis
    ;
}

.cssPseudoClass>h1:hover{
    color: red;
}
.cssPseudoClass>a:hover{
    color: yellow;
}
.cssPseudoClass>a:link{
    color:white;
}
.cssPseudoClass>a:visited{
    color: red;
}
.cssPseudoClass>a:active{
    color: green;
}
.cssPseudoElement>section:first-child::first-line{
    background-color: red;
}
.cssPseudoElement>section:nth-child(2)::first-letter{
    color: white;
    background-color: blue;

}
.cssPseudoElement>section:last-child>h1::before{
    content: "hekllof  ";
    background-color: blue;
}
.cssPseudoElement>section:last-child>h1::after{
    content: "  djssdl";
    background-color: teal;
}